@charset "UTF-8";

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    color: #333333;
    font-size: 14px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
    line-height: 1.6;
    letter-spacing: 1px;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.inner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}

li {
    list-style-type: none;
}

.pc-only {
    display: block;
}

.sp-only {
    display: none;
}

.header {
    height: 75px;
    width: 100%;
    background-color: #fff;
    text-align: right;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid #ccc;
}

.header .inner {
    position: relative;
    padding: 15px 0;
}

.header-nav-logo {
    position: absolute;
    top: 0;
    left: 0;
}

.header-nav-logo img {
    width: 120px;
    object-fit: cover;
    position: relative;
    top: 10px;
}

.header .pc-btn {
    display: inline-block;
}

.sp-btn {
    display: none;
}

.header .pc-btn a {
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 40px;
    color: #fff;
    background-color: #DA6B64;
    border-radius: 22px;
    text-decoration: none;
}

.header .pc-btn a:hover {
    background-color: rgb(175, 20, 20);
    border-radius: 22px;
}

.main { 
    padding-top: 75px;
}

.key-visual {
    position: relative;
    background-color: lightblue;
    height: 480px;
    color: #333;
    padding: 90px 0 100px;
    background: url("images/main.jpg") no-repeat center center / cover;
}

.key-visual-wrapper {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.key-visual-wrapper h2 {
    font-size: 30px;
    line-height: 2.0;
    margin-bottom: 25px;
}

.key-visual-logo {
    margin-bottom: 50px;
}

.key-visual-logo img {
    width: 300px;
    object-fit: cover;
}

.key-visual-wrapper p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
}

.section1 {
    width: 100%;
    background-color:#F7C23C;
    color: #fff;
    text-align: center;
    padding: 30px 0 40px;
}

.section1 h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.section1 .notice {
    font-size: 18px;
    margin-bottom: 70px;
    background-color: #fff;
    color: #c7254e;
    display: inline-block;
    line-height: 1.5;
    font-weight: bold;
}

.section1 .btn a{
    display: inline-block;
    text-decoration: none;
    height: 104px;
    font-size: 28px;
    line-height: 104px;
    padding: 0 300px;
    font-weight: bold;
    border-radius: 52px;
    background-color: #DA6B64;
    color: #fff;
}

.section1 .btn a:hover {
    background-color: rgb(175, 20, 20);
    border-radius: 52px;
}

.section1 .btn + p {
    font-size: 21px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: bold;
}

.section1 p:nth-of-type(4) {
    font-size: 21px;
    margin-bottom: 40px;
    font-weight: bold;
}

.section1 p:nth-of-type(5) {
    font-size: 21px;
    margin-bottom: 30px;
    font-weight: bold;
}

.section2 {
    width: 100%;
    padding: 40px 0 140px;
    background: url("images/introbottom.jpg") no-repeat center center / cover;
    text-align: center;
    font-size: 20px;
}

.title-frame {
    font-size: 28px;
    position: relative;
    padding: 40px;
    width: 860px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.title-frame:before {
    position: absolute;
    top: 0;
    left: 0;
    content:"";
    border-top: 3px solid #EBBA4D;
    border-left: 3px solid #EBBA4D;
    width: 50px;
    height: 50px;
}

.title-frame:after {
    position: absolute;
    bottom: 0;
    right: 0;
    content:"";
    border-bottom: 3px solid #EBBA4D;
    border-right: 3px solid #EBBA4D;
    width: 50px;
    height: 50px;
}

.line {
    font-weight: bold;
    background: linear-gradient(transparent 70%, #EBBA4D 30%);
}

.section2 li{
    margin-bottom: 30px;
}

.section3 {
    width: 100%;
    padding: 80px 0 70px;
    text-align: center;
    position: relative;
    background-color: #FDF5E0;
}

.section3:before {
    position: absolute;
    content: "ABOUT";
    color: #fff;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 14px;
    background-color: #EBBA4D;
}

.section3 h2 + p {
    font-size: 20px;
    margin-bottom: 30px;
}

.section3-content {
    padding: 35px 0 40px;
    border: 2px solid #EBBA4D;
    border-radius: 5px;
    background: #fff;
}

.section3-content h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

.section3-content ul {
    display: flex;
    justify-content: center;
}

.section3-content li {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 15px;
}

.section3-content li p {
    margin-top: 10px;
}

.text-yellow {
    color: #EBBA4D;
}
.section4-top
{
    width: 100%;
    padding: 65px 0 40px;
    text-align: center;
    background: url("images/aboutsecondbg.jpg") no-repeat center / cover;
}

.section4-top h2 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #fff;
}

.section4-top .inner > p:first-of-type {
    font-size: 20px;
    margin-bottom: 15px;
    color: #fff;
}

.section4-top .inner > p:last-of-type {
    font-size: 20px;
    margin-bottom: 30px;
    color: #fff;
}

.section4 ul {
    display: flex;
    justify-content: space-between;
}

.section4 li {
    padding: 30px 20px;
    background: #fff;
    border-radius: 10px;
    width: calc((100% - 40px) / 3);
    font-weight: bold;
}

.section4 li h3 {
    font-size: 16px;
    margin-bottom: 25px;
    color: #fff;
    background: #EBBA4D;
    border-radius: 5px;
}

.section4 li p:first-of-type {
    font-size: 14px;
    margin-bottom: 15px;
    color: 000;
}

.section4 li p:last-of-type {
    font-size: 16px;
    color: 000;
}

.section4-bottom {
    background: #056EA9;
    padding: 40px 0 45px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.section5 {
    padding: 70px 0 55px;
    text-align: center;
}

.section5 h2 {
    font-size: 28px;
    margin-bottom: 45px;
}

.section5 h2 span {
    font-size: 16px;
}

.section5 h2 + p {
    font-size: 20px;
    margin-bottom: 45px;
}

.section5 ul {
    display: flex;
    justify-content: center;
}

.section5 li {
    margin: 0 20px;
}

.section5 li img {
    width: 180px;
    object-fit: cover;
}

.section5 ul + p {
    font-size: 16px;
    margin-top: 40px;
    font-weight: bold;
}

.section6 {
    width: 100%;
    padding: 50px 65px;
    background: #FDF5E0;
    text-align: center;
}

.section6 ul {
    display: flex;
    justify-content: space-between;
}

.section6 li {
    width: calc((100% - 60px) / 3);
    text-align: justify;
}

.section6 li h3 {
    font-size: 20px;
    color: #ebba4d;
    margin: 10px 0 15px;
}

.section6 li p {
    font-size: 16px;
}

.section6 li img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.section6-wrapper {
    padding: 45px 0 50px;
    background: #fff;
    border: 2px solid #ebba4d;
    border-radius: 5px;
    margin: 45px 0 35px;
}

.section6-wrapper h4 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #ebba4d;
}

.section6-wrapper p:first-of-type {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.section6-wrapper p:last-of-type {
    font-size: 16px;
}

.section6-wrapper + p {
    font-size: 14px;
}

.section7 {
    width: 100%;
    padding: 80px 0 20px;
    text-align: center;
    color: #fff;
    background: url("images/teacherbg.jpg") no-repeat center / cover;
}

.section7 h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.section7 h2 + p {
    font-size: 16px;
    margin-bottom: 40px;
}

.section7 .fa {
    margin-right: 5px; 
}

.section7 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section7 li {
    display: flex;
    flex-direction: column;
    width: calc((100% - 40px) / 2);
}

.section7-list-image-text {
    padding: 40px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    flex-grow: 1;
}

.section7-list-image {
    position: relative;
    bottom: -35px;
}

.section7-list-image img {
    border-radius: 50%;
}

.section7-list-image-text h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

.section7-list-image-text p:first-of-type {
    font-size: 16px;
    margin-bottom: 10px;
}

.section7-list-image-text p:last-of-type {
    font-size: 16px;
    text-align: justify;
}

.section8-top {
    width: 100%;
    padding: 40px 0 60px;
    text-align: center;
    background: #ebba4d;
    position: relative;
}

.section8-top::after {
    position: absolute;
    content: "";
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 30px solid #EBB94D;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
}

.section8-logo {
    font-size: 16px;
    color:  #ebba4d;
    background: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-bottom: 25px;
    border-radius: 50%;
    margin: 0 auto;
}

.title-frame-white {
    font-size: 26px;
    position: relative;
    padding: 40px;
    width: 860px;
    margin: 0 auto;
    color: #fff;
    line-height: 2.0;
}

.title-frame-white:before {
    position: absolute;
    top: 0;
    left: 0;
    content:"";
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    width: 50px;
    height: 50px;
}

.title-frame-white:after {
    position: absolute;
    bottom: 0;
    right: 0;
    content:"";
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    width: 50px;
    height: 50px;
}

.section8-bottom {
    padding: 80px 200px 45px;
    width: 100%;
    text-align: center;
}

.section8-bottom h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.section8-bottom p:first-of-type {
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: bold;
}

.section8-bottom p:last-of-type {
    font-size: 16px;
    margin-bottom: 60px;
}

.section8-bottom ul {
    display: flex;
    flex-direction: column;
}

.section8-bottom li {
    display: flex;
    justify-content: center;
}

.section8-bottom li:first-of-type {
    margin-bottom: 45px;
}

.section8-bottom li:nth-of-type(2) {
    margin-bottom: 45px;
}

.section8-list-image {
    margin-right: 10px;
    border: 2px solid #ebba4d;
    border-radius: 5px;
    width: 300px;
    height: 300px;
}

.section8-list-image img {
    height: 100%;
    object-fit: cover;
}

.section8-text p:first-child {
    text-align: justify;
    font-size: 20px;
    margin: 35px 0;
    font-weight: normal;
}

.section8-text p:last-child {
    text-align: left;
    font-size: 20px;
    text-decoration: underline;
}

.section9-top {
    width: 100%;
    padding: 80px 0;
    background: url("images/classbgsp.jpg") no-repeat center / cover;
    text-align: center;
}

.section9 h2 {
    font-size: 30px;
    margin-bottom: 35px;
    color: #fff;
}

.section9 h2 + p {
    font-size: 16px;
    margin-bottom: 70px;
    color: #fff;
}

.section9-content {
    display: flex;
    justify-content: center;
}

.section9-list-left, .section9-list-right {
    width: 370px;
    height: 100%;
    border: 2px solid #056EA9;
    border-radius: 5px;
}

.section9-list-left {
    margin-right: 35px;
}

.section9-list-title {
    font-size: 20px;
    padding: 15px 0;
    color: #fff;
    background: #056EA9;
}

.section9-list-text {
    font-size: 16px;
    background: #fff;
    padding: 15px 10px;
    font-weight: bold;
}

.section9-list-text p {
    margin-bottom: 45px;
}

.section9-list-text p:last-child {
    margin-bottom: 0;
}

.section9-bottom {
    width: 100%;
    text-align: center;
    padding: 70px 0 75px;
    background: #056EA9;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.section10 {
    width: 100%;
    padding: 60px 0 40px;
    text-align: center;
}

.section10 h2 {
    font-size: 28px;
    margin-bottom: 50px;
}

.section10 .fa {
    margin-right: 5px;
}

.section10-logo {
    width: 100%;
    margin-bottom: 55px;
}

.flow-line {
    width: 80%;
    margin: 0 auto;
}

.section10-content-list {
    display: flex;
    justify-content: space-between;
    background: #FEF5E0;
    padding: 30px 40px 30px 60px;
    border-radius: 5px;
}

.section10-content-list-left {
    margin-right: 30px;
    text-align: center;
    width: 20%;
}

.section10-content-list-left img {
    margin-bottom: 20px;
    width: 90px;
    object-fit: cover;
}

.section10-content-list-left p {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

.section10-content-list-right {
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    width: 80%;
}

.section10-content-list-right p:first-of-type {
    margin-bottom: 25px;
}

.section10-content-list-right p:nth-of-type(2) {
    margin-bottom: 25px;
}

.section10-content-list1 p:nth-of-type(3) {
    font-weight: normal;
    font-size: 14px;
}

.section10-content-list2 p:nth-of-type(2) {
    font-weight: normal;
    font-size: 14px;
}

.section10-content-list4 p:nth-of-type(3) {
    font-weight: normal;
    font-size: 14px;
}

.section11 {
    width: 100%;
    padding: 100px 0 90px 110px;
    background: url("images/bangkokbgsp.jpg") no-repeat center / cover;
    text-align: left;
    color: #fff;
}

.section11 h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.section11 h2 + p {
    font-size: 14px;
    margin-bottom: 20px;
}

.section11 li {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section11 ul {
    margin-bottom: 15px;
}

.section11 ul + p {
    font-size: 20px;
    font-weight: bold;
}

.section12 {
    width: 100%;
    padding: 65px 0 35px;
    background: #F7C23C;
    text-align: center;
}

.section12 h2 {
    font-size: 28px;
    margin-bottom: 45px;
}

.section12 .fa {
    margin-right: 5px;
}

.section12 h2 + p {
    font-size: 16px;
    margin-bottom: 65px;
    font-weight: bold;
}

.section12 span {
    color: #fff;
}

.section12-wrapper {
    padding: 45px 0;
    border: 2px solid #fff;
    border-radius: 2px;
    position: relative;
}

.section12-wrapper h3 {
    font-size: 28px;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    background: #F7C23C;
}

.section12-content {
    display: flex;
    justify-content: center;
}

.section12-list-pc {
    margin: 0 55px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #fff;
    margin-top: 35px;
    padding: 50px 10px;
}

.section12-list-pc h4 {
    font-size: 24px;
    color: #F7C23C;
    margin-bottom: 15px;
}

.section12-list-pc p {
    font-size: 14px;
    font-weight: bold;
}

.section13 {
    width: 100%;
    padding: 55px 0 75px;
    text-align: center;
    color: #fff;
    background: url("images/specialdetailsp.jpg") no-repeat center / cover;
}

.section13 h3 {
    font-size: 28px;
    margin-bottom: 25px;
}

.section13 h3 + p {
    font-size: 20px;
    margin-bottom: 35px;
    font-weight: bold;
}

.section13 h2 + p {
    font-size: 20px;
    font-weight: bold;
}

.section14 {
    width: 100%;
    padding: 65px 0 85px;
}

.section14 h2 {
    font-size: 28px;
    margin-bottom: 35px;
    text-align: center;
}

.section14 h2 + p {
    font-size: 20px;
    margin-bottom: 35px;
    text-align: center;
}

.section14-wrapper {
    display: flex;
    justify-content: center;
}

.section14-image {
    margin-right: 25px;
}

.section14-image img {
    width: 180px;
    object-fit: cover;
}

.section14-text {
    font-size: 14px;
    text-align: left;
}

.section14-text p:first-of-type {
    margin-bottom: 15px;
}

.section14-text p:nth-of-type(2) {
    margin-bottom: 35px;
}

.section14-text ul {
    margin-bottom: 35px;
}

.section14-text p:nth-of-type(3) {
    margin-bottom: 15px;
}

.section15 {
    width: 100%;
    padding: 65px 0 60px;
    text-align: center;
    background: #EBB94D;
}

.section15 h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.section15 h2 + p {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: bold;
}

.section15 .far {
    margin-right: 5px;
}

.section15 .form-title {
    width: 60%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
}

.section15 .contact-form p:nth-of-type(3) {
    margin-bottom: 30px;
}

.section15 textarea {
    width: 60%;
    height: 100px;
    margin-bottom: 40px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
}

.section15 .btn a{
    text-decoration: none;
    display: block;
    width: 60%;
    height: 55px;
    line-height: 55px;
    border-radius: 50px;
    font-size: 23px;
    font-weight: bold;
    background-color: #DA6B64;
    color: #fff;
    margin: 0 auto;
}

.section15 .btn a:hover {
    background-color: rgb(175, 20, 20);
    border-radius: 50px;
}

.section15 .btn a:active {
    box-shadow: none;
    position: relative;
    top: 6px;
}

.section16 {
    width: 100%;
    padding: 50px 0;
}

.section16 h2 {
    font-size: 28px;
    margin-bottom: 40px;
    text-align:center;
}

.section16 h2 .far {
    margin-right: 5px;
}

.section16-question .far {
    color: #016EA9;
}

.section16-question {
    width: 80%;
    height: 55px;
    border: 1px solid #E5E5E5;
    margin: 0 auto 5px;
    padding: 0 10px; 
}

.section16-question h3 {
    font-size: 20px;
    line-height: 55px;
}

.section16-question h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.section16-answer {
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    margin: 15px auto 35px;
    padding: 0 15px;
    text-align: justify;
    display: none;
}

.section16 .section16-list li {
    position: relative;
}

.section16 .section16-list li::after {
    position: absolute;
    content: ">";
    color: #E5E5E5;
    font-size: 20px;
    font-weight: bold;
    right: 12%;
    top: 25%;
    transform: rotate(90deg);
    transition: all 0.3s;
}

.section16 .section16-list li.open::after {
    position: absolute;
    content: "<";
    font-size: 20px;
    color: #E5E5E5;
    font-weight: bold;
    right: 12%;
    top: 10%;
    transform: rotate(90deg);
    transition: all 0.3s;
}

.footer {
    width: 100%;
    padding: 35px 0 30px;
    text-align: center;
    background-color: #ECECEC;
    font-size: 10px;
}

.footer p:nth-of-type(1) {
    margin-bottom: 5px;
}

.footer p:nth-of-type(2) {
    margin-bottom: 15px;
}

.footer p:nth-of-type(3) {
    margin-top: 30px;
}

.footer a {
    color: #337ab7;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.scroll-button a{
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 100;
    display: block;
    background: #ECECEC;
    color:#000;
    padding: 20px;
}

@media (max-width: 768px) {
    .inner {
        width: 100%;
    }

    .sp-only {
        display: block;
    }

    .pc-only {
        display: none;
    }

    .header .sp-btn {
        display: block;
    }

    .header .pc-btn {
        display: none;
    }

    .header {
        height: 60px;
    }

    .header .inner {
        height: 100%;
        padding: 0;
    }

    .sp-btn {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        background-color: #DA6B64;
        width: 75px;
        height: 60px;
    }

    .sp-btn img {
        width: 20px;
        object-fit: cover;
        vertical-align: bottom;
    }

    .sp-btn a {
        display: block;
        height: 100%;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        white-space: nowrap;
        padding: 5px;
    }

    .sp-btn a:hover {
        background-color: rgb(175, 20, 20);
        text-decoration: underline;
    }

    .header-nav-logo {
        font-size: 10px;
        left: 10px;
        top: 8px;
    }

    .header-nav-logo img {
        position: absolute;
        width: 90px;
        object-fit: cover;
        top: 15px;
    }

    .main { 
        padding-top: 60px;
    }
    
    .key-visual {
        background: url("images/mainsp.jpg") no-repeat center / cover;
        padding: 100px 0 110px;
        height: 465px;
    }

    .key-visual-wrapper h2 {
        font-size: 24px;
        line-height: 1.5;
        margin-top: 0px;
        margin-bottom: 35px;
    }

    .key-visual-wrapper img {
        width: 250px;
    }

    .key-visual-wrapper p {
        font-size: 16px;
        margin-top: 10px;
    }

    .section1 {
        padding: 20px 20px 30px;
    }

    .section1 h2 {
        font-size: 16px;
        margin-bottom: 30px;
    }
    
    .section1 .notice {
        font-size: 14px;
        margin-bottom: 40px;
        line-height: 1.4;
    }
    
    .section1 .btn a{
        color: #fff;
        display: block;
        text-decoration: none;
        height: auto;
        font-size: 18px;
        line-height: 1.5;
        font-weight: bold;
        padding: 15px 0;
    }
    
    .section1 .btn + p {
        font-size: 15px;
        margin-top: 25px;
        margin-bottom: 35px;
    }
    
    .section1 p:nth-of-type(4) {
        font-size: 15px;
        margin-bottom: 35px;
    }
    
    .section1 p:nth-of-type(5) {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .section2 {
        padding: 25px 20px 110px;
        font-size: 15px;
    }

    .title-frame {
        width: 100%;
        padding: 20px 0;
        font-size: 18px;
    }

    .section3 {
        padding: 55px 20px 70px;
    }

    .section3:before {
        font-size: 10px;
        width: 55px;
        height: 55px;
        line-height: 55px;
    }

    .section3 h2 + p {
        font-size: 16px;
    }

    .section3-content {
        padding: 15px 0 30px;
    }

    .section3-content ul {
        flex-wrap: wrap;
    }

    .section3-content li {
        margin: 15px;
    }

    .section3-content h3 {
        margin: 0;
    }

    .section4-top {
        padding: 45px 20px;
    }

    .section4-top h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .section4-top .inner > p:first-of-type {
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    .section4-top .inner > p:last-of-type {
        font-size: 12px;
    }

    .section4 ul {
        flex-direction: column;
    }

    .section4 li {
        padding: 15px 50px 20px;
        width: 100%;
    }

    .section4 li:first-of-type {
        margin-bottom: 15px;
    }

    .section4 li:nth-of-type(2) {
        margin-bottom: 15px;
    }

    .section4 li h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .section4 li p:first-of-type {
        margin-bottom: 10px;
    }

    .section4-bottom {
        padding: 20px 0;
        font-size: 12px;
    }

    .section5 {
        padding: 40px 0 35px; 
    }

    .section5 h2 {
        font-size: 18px;
        margin-bottom: 40px;
    }
    
    .section5 h2 span {
        font-size: 12px;
    }
    
    .section5 h2 + p {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .section5 ul {
        justify-content: space-between;
        padding: 0 50px;
    }

    .section5 li img {
        max-width: 120px;
        width: 100%;
    }

    .section5 ul + p {
        margin-top: 20px;
    }

    .section6 {
        padding: 45px 20px 70px;
    }

    .section6 h2 {
        font-size: 15px;
    }

    .section6 h2 span {
        font-size: 18px;
        display: block;
        margin-top: 30px;
    }

    .section6 ul {
        flex-direction: column;
    }

    .section6 li {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 50px;
    }

    .section6 li h3 {
        font-size: 19px;
        text-align: center;
    }
    
    .section6 li p {
        font-size: 13px;
    }
    
    .section6 li img {
        width: 100%;
        height: 120px;
    }

    .section6-wrapper {
        padding: 30px 0 25px;
        margin: 25px 0 25px;
    }

    .section6-wrapper h4 {
        font-size: 19px;
    }

    .section6-wrapper p:first-of-type {
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 1.5;
    }
    
    .section6-wrapper p:last-of-type {
        font-size: 10px;
    }
    
    .section6-wrapper + p {
        font-size: 11px;
    }

    .section7 {
        padding: 100px 20px 30px;
    }

    .section7 h2 {
        font-size: 18px;
        margin-bottom: 60px;
    }
    
    .section7 h2 + p {
        font-size: 13px;
        margin-bottom: 60px;
    }

    .section7 ul {
        flex-direction: column;
    }

    .section7 li {
        width: 100%;
    }

    .section7-list-image-text {
        padding: 60px 10px 30px;
        height: auto;
    }

    .section7-list-image img {
        width: 120px;
    }

    .section7-list-image-text h3 {
        font-size: 13px;
        margin-bottom: 20px;
    }
    
    .section7-list-image-text p:first-of-type {
        font-size: 13px;
        margin-bottom: 25px;
    }

    .section7-list-image-text p:last-of-type {
        font-size: 13px;
    }

    .section8-top {
        padding: 25px 20px 50px;
    }

    .title-frame-white {
        width: 100%;
        font-size: 18px;
        padding: 20px;
    }

    .section8-logo {
        font-size: 12px;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    .section8-top::after {
        bottom: -15px;
        border-top: 15px solid #EBB94D;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
    }

    .section8-bottom {
        padding: 40px 20px 70px;
    }

    .section8-bottom h3 {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .section8-bottom p:first-of-type {
        font-size: 13px;
        margin-bottom: 55px;
        font-weight: bold;
    }

    .section8-bottom p:last-of-type {
        font-size: 11px;
        margin-bottom: 45px;
    }

    .section8-list-image {
        width: 200px;
        height: 200px;
    }

    .section8-text p:first-child {
        font-size: 16px;
        margin: 0 0 35px;
        font-weight: normal;
    }
    
    .section8-text p:last-child {
        font-size: 15px;
    }

    .section9-top {
        padding: 80px 20px 70px;
    }

    .section9 h2 {
        font-size: 19px;
        margin-bottom: 30px;
    }
    
    .section9 h2 + p {
        font-size: 12px;
        margin-bottom: 50px;
    }

    .section9-bottom {
        padding: 35px 0 40px;
        font-size: 13px;
    }

    .section9-content {
        flex-direction: column;
    }

    .section9-list-left, .section9-list-right {
        width: 100%;
    }

    .section9-list-left {
        margin: 0 0 15px 0;
    }

    .section9-list-title {
        font-size: 16px;
        padding: 30px 0;
    }

    .section9-list-text {
        font-size: 13px;
        padding: 0;
    }

    .section9-list-text p {
        margin-bottom: 0;
        padding: 30px 0;
        border-bottom: 1px solid #E5E5E5;
    }

    .section10 {
        padding: 45px 20px 55px;
    }

    .section10 h2 {
        font-size: 18px;
    }

    .section10-content-list {
        flex-direction: column;
        padding: 10px 15px;
    }

    .section10-content-list1, .section10-content-list2, .section10-content-list3, .section10-content-list4 {
        margin-bottom: 5px;
    }

    .section10-content-list-left {
        position: relative;
        display: flex;
        justify-content: flex-start;
    }

    .section10-content-list-left img {
        width: auto;
        height: 40px;
        margin: auto 0;
        margin-right: 20px;
    }

    .section10-content-list-left p {
        margin: auto 0;
    }

    .section10-content-list-left p:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .section10-content-list-right {
        font-size: 14px;
        display: none;
        margin: 20px 0 15px;
    }

    .section10-content-list-right p:first-of-type {
        margin-bottom: 15px;
    }
    
    .section10-content-list-right p:nth-of-type(2) {
        margin-bottom: 15px;
    }
    
    .section10-content-list1 p:nth-of-type(3) {
        font-size: 12px;
    }
    
    .section10-content-list2 p:nth-of-type(2) {
        font-size: 12px;
    }
    
    .section10-content-list4 p:nth-of-type(3) {
        font-weight: normal;
        font-size: 12px;
    }

    .section10-content-list::after {
        content: "";
        position: absolute;
        right: 15px;
        top: 35%;
        content: ">";
        transform: rotate(90deg);
        color: #000;
        font-weight: bold;
        transition: all 0.2s;
    }

    .section10-content-list.open::after {
        content: "";
        position: absolute;
        right: 15px;
        top: 35%;
        content: "<";
        transform: rotate(90deg);
        color: #000;
        font-weight: bold;
        transition: all 0.2s;
    }

    .section11 {
        padding: 65px 0 55px 55px;
    }

    .section11 h2 {
        font-size: 24px;
    }
    
    .section11 h2 + p {
        font-size: 12px;
    }
    
    .section11 li {
        font-size: 14px;
    }
    
    .section11 ul + p {
        font-size: 16px;
    }

    .section12 {
        padding: 40px 20px;
    }

    .section12 h2 {
        font-size: 24px;
        margin-bottom: 25px;
    }
    
    .section12 h2 + p {
        font-size: 14px;
        margin-bottom: 90px;
    }

    .section12-wrapper {
        padding: 40px 40px 30px 80px;
    }

    .section12-content {
        flex-direction: column;
    }

    .section12-list-sp {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
    }

    .section12-wrapper h3 {
        font-size: 24px;
        top: -40px;
    }

    .section12-list-left {
        max-height: 80px;
        height: 100%;
        max-width: 80px;
        width: 100%;
        border-radius: 50%;
        background: #fff;
        margin-right: 50px;
        padding: 0 5px;
    }

    .section12-content:first-of-type {
        margin-top: 40px;
    }

    .section12-list-left h5 {
        font-size: 20px;
        line-height: 80px;
        color: #F7C23C;
    }

    .section12-list-sp p {
        text-align: left;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        margin: auto 0;
    }

    .section13 {
        padding: 65px 20px 80px;
    }

    .section13 h3 {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .section13 h3 + p {
        font-size: 16px;
    }

    .section13 h2 + p {
        font-size: 16px;
        margin-top: 20px
    }

    .section14 {

        padding: 40px 20px 65px;
    }

    .section14-wrapper {
        flex-direction: column;
    }

    .section14-image {
        margin: 0 0 35px 0;
    }

    .section14-image img {
        width: 100%;
        object-fit: cover;
    }

    .section15 {
        padding: 65px 20px;
    }

    .section15 h2 {
        font-size: 24px;
    }
    
    .section15 h2 + p {
        font-size: 14px;
    }

    .section15 .form-title {
        width: 70%;
    }

    .section15 textarea {
        width: 70%;
    }

    .section15 .btn a {
        width: 70%;
    }

    .section16 {
        padding: 65px 20px 30px;
    }

    .section16 h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .section16-question {
        width: 100%;
        height: 40px;
        padding: 0 5px; 
    }

    .section16-question h3 {
        font-size: 16px;
        line-height: 40px;
    }

    .section16-answer {
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        margin: 20px auto 35px;
        padding: 0 30px;
    }

    .section16 .section16-list li::after {
        font-size: 16px;
        right: 2%;
        top: 20%;
    }
    
    .section16 .section16-list li.open::after {
        font-size: 16px;
        right: 2%;
        top: 5%;
    }

    .footer {
        font-size: 10px;
        padding: 20px 0 5px 0;
    }

    .scroll-button a{
        right: 20px;
        bottom: 20px;
        padding: 10px;
    }
}